.login {
  &__title {
    font-size: 3rem;
    color: black;
    letter-spacing: 4px;
    margin: 10px 0;
  }
  &__subtitle {
    font-weight: 100;
  }
  &__image {
    mix-blend-mode: color-burn;
  }
  &__description {
    color: #6b6b6b;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
  &__container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    max-width: 300px;
    max-height: 75vh;
    margin: 0 auto;
  }
  &__button {
    color: white;
    width: 100%;
    padding: 10px 10px;
    border-radius: 6px;
    &--blue {
      background-color: #20677c;
      margin-bottom: 10px;
    }
    &--gray {
      background-color: #6b6b6b;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
.dashboard {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__search {
    border-radius: 6px;
    border: none;
    background-color: #dcd9d9;
    font-size: 18px;
    &-wrapper {
      position: relative;
      padding: 10px;
    }
    width: 100%;
    padding: 10px 10px 10px 30px;
    &-icon {
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: black;
    }
  }
  &__products {
    display: flex;
    flex-direction: column;
    padding: 10px;
    &-status {
      &--active {
        color: green;
      }
      &--error {
        color: #ea6686;
      }
    }
  }
  &__product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    &-image-wrapper {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 5px;
      }
    }
    &-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px 0;
      span {
        color: #00aec7;
      }
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}
