.login {
  &__title {
    font-size: 3rem;
    color: black;
    letter-spacing: 4px;
    margin: 10px 0;
  }
  &__subtitle {
    font-weight: 100;
  }
  &__image {
    mix-blend-mode: color-burn;
  }
  &__description {
    color: #6b6b6b;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
  &__container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    max-width: 300px;
    max-height: 75vh;
    margin: 0 auto;
  }
  &__button {
    color: white;
    width: 100%;
    padding: 10px 10px;
    border-radius: 6px;
    &--blue {
      background-color: #20677c;
      margin-bottom: 10px;
    }
    &--gray {
      background-color: #6b6b6b;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
